<!-- /template/upload.html -->
{% extends "base.html" %}
{% set title = "アップロード" %}
{% block main_class %}pt-24 pb-32 px-margin-mobile max-w-container-max mx-auto{% endblock %}
{% block content %}
    <div class="h-full flex flex-col gap-stack-lg max-w-2xl mx-auto">
        <section class="text-center space-y-stack-sm">
            <h2 class="font-h1 text-h1 text-primary">経費登録</h2>
            <p class="font-body-md text-on-surface-variant">レシートをアップロードまたは手入力してください。</p>
        </section>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-gutter md:items-stretch">
            <!-- <section class="grid grid-cols-1  gap-stack-md"> -->
            <section class="flex flex-col h-full">
                <section class="text-center space-y-stack-sm p-2">
                    <h3 class="font-h3 text-h3 text-primary">レシートをアップロード</h3>
                </section>
                <form id="uploadForm" action="/process_receipt" method="POST" enctype="multipart/form-data">
                <!-- enctypeはファイルをアップロードするために必要な属性で、"multipart/form-data"を指定することで、フォームがファイルデータを正しく送信できるようになります。 -->
                    <div id="uploadBox" onclick="document.getElementById('fileInput').click()" 
                        class="md:aspect-[8/12]
                                aspect-[4/3]
                                w-full
                                bg-surface-container-lowest
                                border-2 border-dashed
                                border-outline-variant
                                rounded-xl
                                flex-1 flex flex-col
                                items-center
                                justify-center
                                gap-stack-md
                                cursor-pointer
                                hover:border-secondary
                                transition-all
                                items-stretch
                                shadow-[0px_4px_12px_rgba(26,54,93,0.05)]">
                        <!-- upload area -->
                        <div id="previewArea" class="w-full flex-1 flex flex-col items-center justify-center">

                            <div class="p-6 rounded-full bg-secondary-fixed">
                                <span class="material-symbols-outlined text-[48px]">
                                    add_a_photo
                                </span>
                            </div>

                            <div class="text-center px-6">

                                <p class="font-h3 text-h3 text-primary mb-2">
                                    レシート画像を選択
                                </p>

                                <p class="font-body-sm text-on-surface-variant mb-4">
                                    JPG・PNG・PDF対応
                                </p>
                            </div>
                        </div>
                        <!-- 非表示 -->
                        <input type="file" id="fileInput" name="image" class="hidden">
                    </div>
                    <br>
                    <div class="flex justify-center">
                        <button type="button" id="uploadBtn"
                                class="bg-blue-500 text-white px-4 py-2 rounded-lg">
                            OCR解析する
                        </button>
                    </div>
                </form>
            </section>
            <!-- 手入力エリア -->
            <section class="flex flex-col h-full">
                <section class="text-center space-y-stack-sm p-2">
                    <h3 class="font-h3 text-h3 text-primary">会計情報を入力</h3>
                </section>
                <!-- 会計入力エリア -->
                <div id="formArea" class="bg-surface-container-lowest flex-1 flex flex-col">
                    <!-- Main Input Fields -->
                    <div class="h-full bg-surface-container-lowest p-stack-md rounded-xl border border-outline-variant shadow-[0px_4px_12px_rgba(26,54,93,0.05)] flex flex-col gap-stack-md">
                        <!-- 収入支出切替 -->
                        <div id="typeTab" class="flex gap-2 mb-0">
                            <button id="tabExpense" class="tab active px-3 py-1 border border-gray-300 rounded-full"">支出</button>
                            <button id="tabIncome" class="tab px-3 py-1 border border-gray-300 rounded-full"">収入</button>
                        </div>
                        <!-- Store Name -->
                        <div class="flex flex-col gap-unit relative">
                            <div class="flex justify-between items-center">
                                <label class="font-label-caps text-label-caps text-on-surface-variant opacity-80">店名</label>
                            </div>
                            <div class="relative group">
                                <input id="storeName" class="w-full
                                            bg-white
                                            border
                                            border-outline-variant
                                            rounded-lg p-3
                                            font-data-entry
                                            text-data-entry
                                            focus:border-secondary
                                            focus:ring-1
                                            focus:ring-secondary
                                            transition-all
                                            outline-none"
                                            type="text" />
                                <div class="absolute right-3 top-1/2 -translate-y-1/2 opacity-40 group-hover:opacity-100 transition-opacity">
                                    <span class="material-symbols-outlined text-on-surface-variant" data-icon="edit">edit</span>
                                </div>
                            </div>
                        </div>
                        <!-- Date -->
                        <div class="flex flex-col gap-unit">
                            <div class="flex justify-between items-center">
                                <label class="font-label-caps text-label-caps text-on-surface-variant opacity-80">日付</label>
                            </div>
                            <div class="relative group">
                                <input id="date" class="w-full
                                            bg-white
                                            border
                                            border-outline-variant
                                            rounded-lg p-3
                                            font-data-entry
                                            text-data-entry
                                            focus:border-secondary
                                            focus:ring-1
                                            focus:ring-secondary
                                            transition-all
                                            outline-none"
                                            type="date"/>
                            </div>
                        </div>
                        <!-- Amount -->
                        <div class="flex flex-col gap-unit">
                            <div class="flex justify-between items-center">
                                <label class="font-label-caps text-label-caps text-on-surface-variant opacity-80">金額</label>
                            </div>
                            <div class="relative">
                                <span class="absolute left-4 top-1/2 -translate-y-1/2 font-h2 text-h2 text-on-surface-variant">¥</span>
                                <input id="amount" class="w-full
                                            bg-white border
                                            border-outline-variant
                                            rounded-lg p-3
                                            pl-10 font-h2 text-h2
                                            text-secondary
                                            focus:border-secondary
                                            focus:ring-1
                                            focus:ring-secondary
                                            transition-all outline-none"
                                            type="text" />
                            </div>
                        </div>
                        <!-- Account Category (Suggestions) -->
                        <div class="flex flex-col gap-unit">
                            <div class="flex justify-between items-center">
                                <label class="font-label-caps text-label-caps text-on-surface-variant opacity-80">
                                    勘定科目
                                </label>
                            </div>
                        </div>
                        <div id="categoryArea" class="flex flex-wrap gap-2">
                            <!-- ★ここにJSでボタン生成 -->
                        </div>
                        <!-- ▼隠しUI -->
                        <select id="categorySelect" class="mt-2 border p-2 rounded w-full hidden">
                            <option value="">選択してください</option>
                        </select>
                        <!-- 手入力 -->
                        <div class="flex flex-col gap-unit hidden">
                            <label class="font-label-caps text-label-caps text-on-surface-variant opacity-80">手入力</label>
                            <input id="customCategory"
                                type="text"
                                class="mt-2 border p-2 rounded w-full"
                                placeholder="勘定科目を入力">
                        </div>
                    </div>
                </div>
                <!-- Action Buttons -->
                <br>
                <div class="flex justify-center">
                    <button type="button" id="saveBtn"
                            class="bg-blue-500 text-white px-4 py-2 rounded-lg">
                        保存する
                    </button>
                </div>
                <!-- <div class="flex flex-col sm:flex-row gap-stack-md mt-4 mb-28">
                    <button type="button" id="saveBtn" class="flex-1 bg-white border border-secondary text-secondary py-4 rounded-lg font-h3 text-h3 hover:bg-surface-container transition-all active:bg-secondary flex items-center justify-center gap-2">
                    <span class="material-symbols-outlined" data-icon="save" style="font-variation-settings: 'FILL' 1;">save</span>
                                保存する
                            </button>
                </div> -->
            </section>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/upload.js"></script>
<script src="/static/js/input.js"></script>
{% endblock %}